<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familiares</title>
</head>
<body>
    <h4> Familiares </h4>

    <h2> Familiar1 </h2>
    <p> Nombre = {{ nombre }} </p>
    <p> Edad = {{ edad }} </p>
    <p> Fecha = {{ fecha }} </p>
    
    <h2> Familiar2 </h2>
    <p> Nombre = {{ nombre2 }} </p>
    <p> Edad = {{ edad2 }} </p>
    <p> Fecha = {{ fecha2 }} </p>

    <h2> Familiar3 </h2>
    <p> Nombre = {{ nombre3 }} </p>
    <p> Edad = {{ edad3 }} </p>
    <p> Fecha = {{ fecha3 }} </p>


      

</body>
</html>